/* Contact Us Container */
.contact_us_container {
    max-width: 600px; 
    margin: 2rem auto; 
    border-radius: 8px;
    box-shadow: 0 4px 20px #0000001a; 
    background-color: #103514;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
}
.contact_us_container .success_message{
    color: yellow;
}
/* Title */
.contact_us_container h1 {
    font-size: 28px;
    margin-bottom: 1rem; 
    text-align: center; 
    color: #fff; 
}

/* Form Group */
.form_group {
    margin-bottom: 1rem; 
}

/* Labels */
.form_group label {
    text-align: left;
    display: block; 
    margin-bottom: 0.5rem; 
    color: #fff;
}

/* Input Fields */
.form_group input,
.form_group textarea {
    width: 95%; 
    padding: 0.8rem;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    font-size: 16px; 
    transition: border-color 0.3s; 
}

/* Focus State */
.form_group input:focus,
.form_group textarea:focus {
    border-color: #007bff; 
    outline: none; 
}

/* Error Message */
.error {
    color: red; 
    font-size: 14px; 
    font-weight: bold;
}

/* Submit Button */
button[type='submit'] {
    width: 30%; 
    padding: 0.8rem;
    background-color: #93951e; 
    color: white;
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

/* Button Hover State */
button[type='submit']:hover {
    background-color: #636414; 
}

/* Thank You Message */
.contact_us_container p {
    color: #1a331d; 
    text-align: center;
}

/* Go to Home Button */
.contact_go_to_home_btn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    display: block; 
    width: 30%; 
    padding: 0.8rem; 
    background-color: #1a331d; 
    color: white; 
    border: none; 
    border-radius: 4px;
    font-size: 16px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

/* Button Hover State */
.contact_go_to_home_btn:hover {
    background-color: #103514; 
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .contact_us_container {
        padding: 1rem; 
    }

    .contact_us_container h1 {
        font-size: 24px; 
    }

    .form_group input,
    .form_group textarea,
    button[type='submit'],
    .contact_go_to_home_btn {
        font-size: 14px;
    }
}
